@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  body {
    color: hsl(var(--color-foreground));
    font-family: theme("fontFamily.content");
    background-color: theme("colors.background.DEFAULT")
  }
}
