:root {

  --h-header: 72px;
  --h-bottom-bar: 4rem;

  --zModal: theme("zIndex.modal");

  --text-foreground: 210 38% 15%;

  --color-primary: 37 96% 59%;
  --color-foreground: 0 0% 0%;
  --color-background: 0 0% 100%;
  --color-foreground-400: 212 7% 49%;
  --color-secondary-400: 0 0% 20%;
  --color-secondary: 0 0% 0%;
  --color-secondary-foreground: 0 0% 100%;
  --color-accent: 347 94% 48%;
  --color-content: 27 100% 96%;
  --color-content2: 240 8% 97%;
  --color-content-600: 28 100% 93%;
}


